@model UsuarioViewModel

@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<h2 class="text-center mb-4">Cadastro de Usuário</h2>

<form asp-action="Salvar">
    <input type="hidden" value="@ViewBag.Operacao" name="Operacao" />
    <div class="container">
        <div class="row">
            <!-- Id e Nome na mesma linha -->
            <div class="col-md-3">
                <label class="col-form-label">Id</label>
                @if (ViewBag.Operacao == "I")
                {
                    <input type="text" name="id" value="@Model.Id" class="form-control" />
                }
                else
                {
                    <input type="text" name="id" value="@Model.Id" class="form-control" readonly />
                }
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="col-md-9">
                <label class="col-form-label">Nome</label>
                <input type="text" name="nome" value="@Model.Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <!-- Email sozinho em uma linha -->
            <div class="col-md-12">
                <label class="col-form-label">Email</label>
                <input type="email" name="email" value="@Model.Email" class="form-control" placeholder="exemplo@exemplo.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <!-- Senha e Confirmação de Senha na mesma linha -->
            <div class="col-md-6">
                <label class="col-form-label">Senha</label>
                <input type="password" name="senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="col-form-label">Confirmação de senha</label>
                <input type="password" name="confirmacaoSenha" class="form-control" />
                <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
            </div>
        </div>
        <br />


        <div class="row">
            <div class="col-md-2">
                <label class="col-form-label" for="Cep">CEP</label>
                <input type="text" id="Cep" name="cep" value="@Model.Cep" class="form-control" onblur="buscaCEP()"/>
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="col-md-8">
                <label class="col-form-label" for="Endereco">Endereço</label>
                <input type="text" name="Endereco" id="Endereco" value="@Model.Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label class="col-form-label" for="Numero">Número</label>
                <input type="text" name="Numero" id="Numero" value="@Model.Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-5">
                <label class="col-form-label" for="Bairro">Bairro</label>
                <input type="text" id="Bairro" name="Bairro" value="@Model.Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label class="col-form-label" for="Cidade">Cidade</label>
                <input type="text" id="Cidade" name="Cidade" value="@Model.Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label class="col-form-label" for="Estado">Estado</label>
                <input type="text" id="Estado" name="Estado" value="@Model.Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label class="col-form-label" for="Uf">UF</label>
                <input type="text" id="Uf" name="Uf" value="@Model.Uf" class="form-control" />
                <span asp-validation-for="Uf" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <!-- Telefone e Telefone Comercial na mesma linha -->
            <div class="col-md-6">
                <label class="col-form-label" for="Telefone">Telefone</label>
                <input type="text" id="Telefone" name="Telefone" value="@Model.Telefone" class="form-control" placeholder="(00)00000-0000" maxlength="14"/>
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="col-form-label" for="TelefoneComercial">Telefone Comercial</label>
                <input type="text" name="telefoneComercial" value="@Model.TelefoneComercial" class="form-control" placeholder="(00)00000-0000" maxlength="14"/>
                <span asp-validation-for="TelefoneComercial" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <!-- Empresa e Cargo na mesma linha -->
            <div class="col-md-6">
                <label class="col-form-label" for="Empresa">Empresa</label>
                <input type="text" name="empresa" value="@Model.Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="col-form-label" for="Cargo">Cargo</label>
                <input type="text" name="cargo" value="@Model.Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
        </div>
        <br />

        <!-- Botão de Submit -->
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-success" value="Salvar" />
            </div>
        </div>
    </div>
</form>

<script>

    document.getElementById('Telefone').addEventListener('input', function (e) {
        let value = e.target.value.replace(/\D/g, ''); // Remove tudo que não é dígito
        value = value.replace(/^(\d{2})(\d{5})(\d{4}).*/, '($1)$2-$3'); // Aplica a máscara
        e.target.value = value;
    });

</script>
