@model List<EquipamentoViewModel>
@{
    ViewData["Title"] = "Equipamentos Cadastrados";
}

<head>
    <h1 class="title">Equipamentos cadastrados</h1>
</head>

<a href="/equipamento/NovoRegistro" class="btn btn-info">Novo registro</a>
<br />

<body class="usuario">
    <div class="container-geral"> 
        <table class="table">
            <tr>
                <th>Ações</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Status Equipamento</th>
                <th>Mac Address</th>
                <th>Última atualização</th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                var eq = Model[i];
                var rowClass = i % 2 == 0 ? "linha-verde" : "linha-azulescuro";

                <tr class="@rowClass">
                    <td>
                        <a href="/equipamento/editar?id=@eq.Id">
                            <img src="/images/edit.png" class="image"/>
                        </a>
                        &nbsp;
                        <a href="javascript:apaga(@eq.Id)">
                            <img src="/images/del.png" class="image"/>
                        </a>
                        &nbsp;
                        <a href="/equipamento/exibir?id=@eq.Id">
                            <img src="/images/view.png" class="image"/>
                        </a>
                    </td>
                    <td>@eq.Id</td>
                    <td>@eq.Nome</td>
                    <td>@eq.StatusEquipamento</td>
                    <td>@eq.MacAddress </td>
                    <td>@eq.LastUpdate</td>
                </tr>
            }
        </table>
    </div>
</body>



<script>
    function apaga(id) {
        if (confirm('Apaga mesmo?'))
            location.href = "/equipamento/Delete?id=" + id;
    }
</script>

<style>
    th{
        color: #0DCAF0;
    }

    .image {
        width: 25px;
    }

    .title {
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .linha-verde {
        background-color: #0DCAF0;
        color: black; 
    }

    .linha-azulescuro {
        background-color: #112E3C;
        color: #0DCAF0;
    }

    .usuario .container-geral {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        justify-content: initial;
    }

    .table {
        width: 80%;
        margin-top: 5%;
        border-collapse: separate;
        border-radius: 10px;
        border-spacing: 0px;
        align-content: center;
        align-items: center;
        align-self: center;
    }

    th:first-child {
        border-top-left-radius: 10px;
    }

    th:last-child {
        border-top-right-radius: 10px;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    th, td {
        padding: 8px;
        text-align: center;
        border: 1px solid black;
    }
</style>
